<html lang="en">
    <head>
        <title>Authorization Page</title>
        <style>
            .container {
                position: relative;
            }
            
            .container form {
                position: absolute;
                top: 100px;
                left: 400px;
            }

            .vbomsLogo {
                display: flex;
            }
        </style>
    </head>
    <body>
        <div class="container">
            {{{body}}}
        </div>
    </body>
</html>