<form style="">
    <h3 style="">Login</h3>
    <div class="formGroup">
        <div>
            <label for="identifier">Username, Email or Phone</label>
        </div>
        <div>
            <input type="text" id="identifier" placeholder="Enter username, email or phone..."/>
        </div>
    </div>
    <div class="formGroup">
        <div>
            <label for="password">Password</label>
        </div>
        <div>
            <input type="text" id="password" placeholder="Enter password..."/>
        </div>
    </div>
    <button id="submitBtn">Submit</button>

    <span class="vbomsLogo">
        <p class="poweredBy">Powered by > </p>
        <p class="logoIcon">>  VBOMS  </p>
    </span>
</form>
